<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">DHAnswers</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
  
    <div class="form">
     <%= search_form_for @q do |f| %>
      <div class="small-9 columns">
  <%= f.search_field :description_or_title_cont, class: "right inline" %>
    </div>
   <%= f.submit class: "right inline" %>
  <%end%>
  </div>
  </ul>
    
    <ul class="right">
        
        <li><%= link_to "New question", new_post_path %></li>

        <% if user_signed_in? %>
        <li><%= link_to "View all questions", posts_path %></li>
        <li><%= link_to  "Hey #{current_user.name}!", root_path %> </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        
        <%else%>
        <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>


        <%end%>
    </ul>
  </section>
</nav>

<div class="top-bar">
  <div id="banner" class="row">
    <div class="large-12 columns center">
      <strong><h1> <%= yield(:title) %></h1></strong>  
      
    </div>
  </div>
</div>


