<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "DHquestions" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <header>
  	<%= render 'layouts/header' %>
      
  </header>

  <body>

  <% if user_signed_in? %>
	 <div class="row">
	 	<div class="large-3 columns">
	      <%= render 'layouts/profile' %>

    </div>
  <%end%>
 
        
        <!-- Main Feed -->
        <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->

        
     
    <%= yield %>
    <%= javascript_include_tag "application" %>
    
     
      
 	</div>    
     

     
      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-5 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-7 columns">
              <ul class="inline-list right">
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
                <li><a href="#">Section 6</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>